#Maria Db
DATABASE_URL=
DATABASE_HOST=
DATABASE_NAME=
DATABASE_USER=
DATABASE_PASSWORD=
# Encryption Key
MASTER_ENCRYPTION_KEY=
# R2
S3_API=
R2_ACCOUNT_ID=
R2_ACCESS_KEY_ID=
R2_SECRET_ACCESS_KEY=
R2_BUCKET_NAME=
R2_TOKEN_VALUE=
#Stretch AI Agent
OPENAI_API_KEY=
#Email
RESEND_API_KEY=
#
NEXT_PUBLIC_APP_URL=
#Cron Secret
CRON_SECRET=
#Redis
UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=
